<input type="text" hidden  value="{{questionario._id}}" name="idQuestionario">

{{#each questionario.perguntas}}
    <form action="/questionarios/verificar" method="post">
        <li>
            {{this.titulo}}?
            <ul>
            {{#each this.respostas}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
        </li>
        <input type="number" hidden name="correta" value="{{this.respostaCerta}}">
        <input type="number" name="respostaPergunta{{@index}}" required id="">
        <button type="submit">Enviar Questionario</button>
    </form>
    
{{/each}}