<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/principal.css">
    <link rel="stylesheet" href="/questionarios.css">
    <title>Questionario {{questionario.titulo}}</title>
</head>
<body>
    {{#if mensagem.success_msg}}
        <span class="retornoAcertos">{{mensagem.success_msg}}</span>
    {{/if}}

    
    <h1>{{questionario.titulo}}</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Pontuação</th>
        </tr>
        {{#each questionario.tabela}}
            <tr>        
                <td>{{this.nome}}</td>
                <td>{{this.pontuacao}}</td>
            </tr>
        {{/each}}
    </table>
</body>